@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@layer base {
  :root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --secondary: #ec4899;
  }

  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  body {
    @apply bg-gray-50;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

